/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable function-url-quotes */
/* stylelint-disable order/properties-order */
@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url(./flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  font-display: block;
}

.material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
